.attempt,
.try,
.answerAbove {
  display:none;
}

body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.theTitle {
  font-size: 10em;
  margin: 20px auto;
  border-bottom: solid lightgray 1px;
  width: 85%;
}

.answer {
  font-size: 5em;
}

.result {
  font-size: 3em;
}

input,
button {
  font-size: 2em;
  margin: 5px;
}

.puzzle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigger {
  background-color: lightgray;
}
